@{
    ViewBag.Title = "Index";
}

<h2>Novo Cliente</h2>

<form action="Cadastro/Salvar" method="post">
    <div>
      <label>Nome</label> <br />
      <input type="text" name="nome" value="" />
    </div>

    <div>
      <label>Sobrenome</label> <br />
      <input type="text" name="sobrenome" value="" />
    </div>

    <div>
      <label>Idade</label> <br />
        <select name="idade">
            <option>10-15</option>
            <option>16-20</option>
            <option>41 ou mais</option>
        </select>
    </div>
    <button>Salvar</button> 
</form>
