@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Página de boas vindas - Desktop
</p>

@section MenuBar{
    <ul>
        <li>
            <a href="#">Home</a>           
         </li>
        <li>
            <a href="@Url.Action("MediaQuery")">MediaQuery</a>
        </li>
    </ul>
}
